<script charset="utf-8">
    // Wrap in non-JQuery equivalent of `$(document).ready` since JQuery may not be loaded yet.
    document.addEventListener("DOMContentLoaded", function(event) {
        $('form').submit(function (e) {
            var $form = $(this);
            e.preventDefault();
            $.ajax({
                type: '{{ helper.form_method }}',
                url: '{{ helper.form_action }}',
                data: $form.serialize(),
                success: function (data, statusText, thrownError) {
                    notify.success(data.success_msg || "Successfully submitted form");
                },
            });
        });
    });
</script>
