
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>

    <p>Current time: {% now "f.s" %}</p>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Enter your email</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    {% crispy form %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media }}
{% endblock javascript %}
